{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">

      <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Apply for a firearm licence or prohibited weapon authority
      </h1>
    </div>
</div>

<div class="grid-row">

      <p>
        First published:  31 March 2017 <br>Last updated:   7 April 2017, <a href="https://signon.publishing.service.gov.uk/users/sign_in#history">see all updates</a>
      </p>

      <p>Application forms for firearms and prohibited weapon authorities, museum firearms licences and shooting club approvals.</p>

</div>


<div class="grid-row sidebar-with-body">
  <div class="column-one-third">

<br>
<br>
  <p>Contents</p>
  <ul class="list">
    <a href="#firearms">Firearm or shotgun licence</a></li>
    <li><a href="#weapons">Prohibited weapons and ammunition (section 5) authority</a></li>
    <li><a href="#shooting">Shooting club approval</a></li>
    <li><a href="#museums">Museum firearms licence</a></li>
  </ul>

</div>

<div class="column-two-thirds">

			<h2 class="heading-medium"><a name="fireams">Firearm or shotgun licence</a></h2>

      <p>You can use these forms to:</p>

			<ul class="list list-bullet">
				<li>apply for a firearm or shotgun licence</li>
				<li>renew a firearm or shotgun licence</li>
        <li>vary a firearm certificate</li>
			</ul>


      <p><a href="https://www.gov.uk/guidance/firearms-licensing-police-guidance">Information about medical arrangements</a> is also available.</p>

<div class="panel panel-border-wide">
      <p><a href="https://www.gov.uk/government/publications/firearms-application-forms">Apply for, renew or amend a firearm or shotgun licence</a></p>
</div>

      <h2 class="heading-medium"><a name="weapons">Prohibited weapons and aummunition (section 5) authority</a></h2>

      <p>You need a section 5 (S5) authority to handle prohibited weapons, component parts and ammunition.</p>

      <p>You can use this service to:</p>

      <ul class="list list-bullet">
        <li>apply for a new section 5 authority</li>
        <li>renew or amend an existing section 5 authority</li>
      </ul>

      <p>Shooting clubs can also use this service for section 7(3) weapons.</p>

      <p>You will need the following:</p>

      <ul class="list list-bullet">
        <li>the business’s name</li>
        <li>the Companies House or registered charity number, if relevant</li>
        <li>details of how the prohibited items will be obtained and used</li>
        <li>documents justifying a business need for an S5 authority, for example contracts, invoices and letters of sponsorship</li>
        <li>addresses of the business premises where the prohibited items will be stored</li>
        <li>the types and quantities of prohibited items you want the authority to cover</li>
        <li>the personal details of one or two named authority holders (home address, place and date of birth, and nationality)</li>
        <li>contact details</li>
      </ul>

      <div class="panel panel-border-wide">
      <p><a href="https://www.firearms-licensing.homeoffice.gov.uk/s5/activity">Apply for, renew or amend a section 5 authority if you’re in England or Wales</a></p>
    </div>

      <div class="panel panel-border-wide">
      <p><a href="https://signon.publishing.service.gov.uk/users/sign_in">Apply for, renew or amend a section 5 authority if you're in Scotland</a>(PDF, 90.5KB, 2 pages)</p>
    </div>

      <h2 class="heading-medium"><a name="shooting">Shooting club approval</a></h2>

      <p>Shooting clubs in England and Wales should use this service to apply to the Home Office:</p>

      <ul class="list list-bullet">
        <li>for a target shooting club approval</li>
        <li>to renew an existing target shooting club approval</li>
        <li>to add new categories of weapons to an existing approval</li>
      </ul>

      <div class="panel panel-border-wide">
      <p><a href="https://www.firearms-licensing.homeoffice.gov.uk/shooting-clubs/activity">Apply for, renew or amend a shooting club approval if you’re in England and Wales</a></p>
    </div>

      <p>Shooting clubs in Scotland should apply to the Scottish government.</p>

      <h2 class="heading-medium"><a name="museums">Museum firearms licence</a></h2>

      <p>Museums in England and Wales can apply for this licence to:</p>

      <ul class="list list-bullet">
        <li>apply for a new museum firearms licence</li>
        <li>renew an existing museum firearm licence</li>
        <li>add new exhibition or storage addresses to an existing licence</li>
        <li>update contact details on an existing licence</li>
      </ul>

      <p>If you exhibit or store prohibited weapons or ammunition you will need to apply for a separate section 5 weapons authority.</p>

      <h3 class="heading-small">Who can apply</h3>
      <p>You can apply for this licence if you’re:</p>

      <ul class="list list-bullet">
        <li>maintained by Parliament or local government</li>
        <li>accredited by the Museum, Libraries and Archives Council (MLA) or Arts Council England and Wales</li>
      </ul>

      <p>You can’t apply for this licence if you’re a non-accredited, privately funded or private collection. Instead you can apply for a firearm or shotgun certificate.</p>

      <div class="panel panel-border-wide">
      <p><a href="https://www.firearms-licensing.homeoffice.gov.uk/museums/activity">Apply for or renew a museum firearms licence</a></p>
    </div>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <p>Published:<br><strong class="bold-small">31 March 2017</strong></p>

      <p>Updated:<br><strong class="bold-small">7 April 2017</strong></p>

    </div>
  </div>










    </div>
  </div>
</main>

{% endblock %}
